// Labels

.label-variant(@color) {
  background-color: @color;

  &[href] {
    &:hover,
    &:focus {
      background-color: @color;
      @supports (color: hsl(from #000 h s calc(l - 1))) {
        background-color: hsl(from @color h s calc(l - 10));
      }
    }
  }
}
